.jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
}

.column {
    padding-left: 10px;
}

.well {
    padding: 4px 19px 0px;
    font-size: 80%;
}

h2 small, h2 .small {
    font-size: 40%;
}

.page-header {
    padding-bottom: 1px;
}

.entry-tags {
    margin: 0 0 2px;
}

.entry-shorturl {
    margin: 0 0 2px;
}

.entry-discussions {
    margin: 0 0 2px;
}
