.jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
}

.column {
    padding-left: 10px;
}

.well {
    padding: 4px 19px 0px;
    font-size: 85%;
}

h2 small, h2 .small {
    font-size: 45%;
}

.page-header {
    padding-bottom: 1px;
}
